@model Kimo.Models.Template_Position

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Template_Position</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position.Position_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Position_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Template.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Template.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Template_Position_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
